/* ###### THIS IS THE MAIN STYLE FILE THAT HAS ALL THE IMPORT TO THE DEDICATED STYLUS FILES  ######  */
.header {
  position: absolute;
  top: 225px;
  left: 8000px;
  width: 550px;
}
.intro {
  position: absolute;
  top: 225px;
  left: 660px;
  width: 550px;
  height: 400px;
}
.footer {
  position: absolute;
  top: 225px;
  left: 660px;
  width: 9px;
}
