/* ###### THIS IS THE MAIN STYLE FILE THAT HAS ALL THE IMPORT TO THE DEDICATED STYLUS FILES  ######  */
div.calcContainer {
  width: 400px;
  margin: 0 0;
  padding: 15px 0;
  display: block;
  clear: both;
}
span {
  float: left;
}
.textbox {
  float: right;
}
.button {
  float: right;
  margin-top: 15px;
}
