body
	background #cdd4e7
	margin 0 auto
	width 100%

h1
	margin 0 auto 15px 

div.calcContainer
	width 400px
	margin 0 auto
	padding 15px 0
	display block
	clear both
	color #111

span
	float left

.textbox
	float right
	border-radius 3px

.button
	float right
	margin-top 15px
	